@*1. Dichiarare una variabile valorizzandola con il nostro nome.
Dichiarare un'altra variabile valorizzandola con il nostro cognome.
Stampare il nostro nome e cognome all'interno di un tag h2.
2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
Stampare dentro uno span il risultato.
3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina
4. Creare una List<int> di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70
5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi
6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina
a. la data di 7 giorni fa
b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)*@

@{
    string name = "Federico";
    string surname = "Mura";
}

<h2>@name @surname</h2>

@{
    int Sum(int n)
    {
        int sum = 0;
        for(int i= 1; i <= n; i++)
        {
            sum += i;
        }
        return sum;
    }
}

<p>@Sum(5)</p>

@{
    int CountA()
    {
        string toCheck = "nel mezzo del cammin di nostra vita";
        return toCheck.Count(f => (f == 'a'));
    }
}

<p>@CountA()</p>

@{
    List<int> list = new List<int>();
    for(int i = 0; i < 20; i++)
    {
        int num = new Random().Next(1, 91);
        list.Add(num);
    }
}

@foreach(int num in list){
    if(num > 20 && num < 70){
        <p>@num</p>
    }
}

@{
    DateTime date = DateTime.Now;
}

<h2>@date.ToString("yyyy-MM-dd HH:mm:ss")</h2>

<h2>@date.AddDays(-7).ToString("yyyy-MM-dd HH:mm:ss")</h2>

<h2>@date.ToString("dddd")</h2>
<h2>@date.AddYears(1).ToString("dddd")</h2>